@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.saved-profiles-list {
  @include remove-list-styles;
  @include grid-shorthand(
    null,
    repeat(auto-fit, minmax(min(35rem, 100%), 1fr)),
    $whitespace-7,
    $whitespace-7
  );

  justify-items: center;
  inline-size: 100%;
  max-inline-size: 90rem;
  margin: 0 auto;
}
