@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.messages-header {
  $this: &;

  @include flex-shorthand(row, nowrap, null, center, space-between);

  padding: $whitespace-7 $whitespace-6;
  background-color: $color-neutral-1;

  &__button {
    @include remove-button-styles;
    @include size-shorthand(5rem, 5rem);
    @include flex-shorthand(row, nowrap, null, center, center);

    text-decoration: none;
    background-color: $color-neutral-1;
    border-radius: $border-radius-circle;
    box-shadow: 0 0 0.8rem $color-neutral-4;
  }

  &__icon {
    @include size-shorthand(2.5rem, 2.5rem);

    color: $color-neutral-9;
  }

  &__heading {
    font-size: $font-size-6;
    color: $color-neutral-10;
  }
}
