@use "../../../../styles/settings" as *;
@use "../../../../styles/tools" as *;

.main {
  @include flex-shorthand(row, nowrap, null, center, center);

  flex: 1;
  overflow: auto;
  scrollbar-gutter: auto;
  overscroll-behavior: auto;
  background-color: $color-neutral-1;

  @include media-up-shorthand(laptop-1) {
    padding: $whitespace-7;
    overflow: unset;
    scrollbar-gutter: unset;
    overscroll-behavior: unset;
  }
}
