@use "../../../../styles/settings" as *;
@use "../../../../styles/tools" as *;

.main {
  @include flex-shorthand(row, nowrap, null, center, center);

  flex: 1;
  overflow: auto;
  scrollbar-gutter: auto;
  overscroll-behavior: auto;
  background-color: $color-neutral-1;
}
