@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.hamburger-menu {
  $this: &;

  @include themify {
    &--open {
      #{$this}__body {
        min-block-size: 100vb;
      }

      #{$this}__icon {
        transform: rotate(45deg);

        path:nth-child(1) {
          stroke-dashoffset: -6.4rem;
        }

        path:nth-child(2) {
          transform: rotate(90deg);
        }

        path:nth-child(3) {
          stroke-dashoffset: -6.4rem;
        }
      }
    }

    &__button {
      @include remove-button-styles;

      display: block;
    }

    &__icon {
      @include size-shorthand(4rem, 4rem);

      color: themed(color-neutral-9);
      cursor: pointer;
      transition-duration: 0.3s;

      path {
        transition-duration: 0.3s;
      }

      path:nth-child(1) {
        stroke-dasharray: 40 160;
      }

      path:nth-child(2) {
        stroke-dasharray: 40 142;
        transform-origin: 50%;
      }

      path:nth-child(3) {
        stroke-dasharray: 40 85;
        transform-origin: 50%;
      }
    }

    &__body {
      @include flex-shorthand(column, nowrap, $whitespace-10, center);

      position: absolute;
      inset: 100% null null 0;
      min-block-size: 0;
      overflow: hidden;
      background-color: themed(color-neutral-1);
      transition: all 0.5s;
    }

    @include media-up-shorthand(tablet-2) {
      display: none;
    }
  }
}
