@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.hamburger-menu {
  $this: &;

  @include themify {
    &--open {
      #{$this}__body {
        min-block-size: 100vb;
      }

      #{$this}__icon {
        transform: rotate(45deg);

        path:nth-child(1) {
          stroke-dashoffset: -6.4rem;
        }

        path:nth-child(2) {
          transform: rotate(90deg);
        }

        path:nth-child(3) {
          stroke-dashoffset: -6.4rem;
        }
      }
    }

    &__button {
      @include remove-button-styles;

      display: block;
    }

    &__icon {
      @include size-shorthand(4rem, 4rem);

      color: themed(color-neutral-9);
      cursor: pointer;
      transition-duration: 0.3s;

      path {
        transition-duration: 0.3s;
      }

      path:nth-child(1) {
        stroke-dasharray: 40 160;
      }

      path:nth-child(2) {
        stroke-dasharray: 40 142;
        transform-origin: 50%;
      }

      path:nth-child(3) {
        stroke-dasharray: 40 85;
        transform-origin: 50%;
      }
    }

    &__body {
      @include flex-shorthand(column, nowrap, $whitespace-10, center);

      position: absolute;
      inset: 100% null null 0;
      min-block-size: 0;
      overflow: hidden;
      background-color: themed(color-neutral-1);
      transition: all 0.5s;
    }

    &__links-list {
      @include remove-list-styles;
      @include flex-shorthand(column, nowrap, $whitespace-8);

      margin-block-start: $whitespace-11;
      text-align: center;
    }

    &__link {
      position: relative;
      padding: 0 $whitespace-5;
      font-size: $font-size-6;
      font-weight: $font-weight-bold;
      color: themed(color-neutral-8);
      text-decoration: none;

      &::after {
        @include absolute-shorthand(auto, auto, -1rem, 50%);
        @include size-shorthand(0, 0.2rem);

        display: block;
        content: "";
        background: themed(color-accent-1);
        transition:
          inline-size 0.3s ease,
          inset-inline-start 0.3s ease;
      }

      &:focus::after {
        inset-inline-start: 0;
        inline-size: 100%;
      }

      @media (hover: hover) {
        &:hover::after {
          inset-inline-start: 0;
          inline-size: 100%;
        }
      }
    }
  }
}
