@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.chat {
  @include flex-shorthand(column, nowrap);

  block-size: 100%;

  @include media-up-shorthand(laptop-1) {
    flex: 1;
  }
}
