@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.chat {
  @include flex-shorthand(column, nowrap, $whitespace-6);

  block-size: 100%;
  padding-inline: $whitespace-6;
  overflow: scroll;
  scrollbar-gutter: auto;
  overscroll-behavior: auto;
}
