@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.button {
  $this: &;

  @include remove-button-styles;
  @include flex-shorthand(row, nowrap, $whitespace-3, center, center);

  padding: 1rem 2rem;
  font-size: $font-size-3;
  cursor: pointer;
  border-radius: $border-radius-small;
  transition: all 0.15s;

  &__icon {
    inline-size: 1.5rem;
  }

  &--type-call-to-action {
    font-weight: $font-weight-semi-bold;
    color: $color-neutral-1;
    text-decoration: none;
    background: linear-gradient(to right, $color-primary-9, $color-primary-5);
    box-shadow: get-shadow(small, $color-primary-5);

    @media (hover: hover) {
      &:hover {
        box-shadow: get-shadow(medium, $color-primary-5);
      }
    }

    &:active {
      box-shadow: get-shadow(small, $color-primary-5);
    }

    #{$this}__icon {
      color: $color-neutral-1;
    }
  }

  &--location-header {
    display: none;

    @include media-up-shorthand(tablet-2) {
      display: block;
    }
  }
}
