@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.coach-details-modal {
  position: fixed;
  inset: 50% auto auto 50%;
  z-index: 9999;
  background-color: burlywood;
  transform: translate(-50%, -50%);
}
