@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.coach-details-modal {
  @include absolute-shorthand(auto, 0, 0, 0);

  z-index: 1000;
  background-color: $color-neutral-1;
  box-shadow: 0 0 1.5rem $color-neutral-5;
  transition: transform 0.15s;
}
