@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.request-item {
  @include flex-shorthand(column, nowrap, $whitespace-6);

  inline-size: 100%;
  max-inline-size: 35rem;
  padding: $whitespace-4 0;
  border-block: 0.2rem solid $color-neutral-2;

  &--type-sent {
    @include flex-shorthand(row, nowrap, 0, null, space-between);
  }

  &__top-container {
    @include flex-shorthand(row, nowrap, $whitespace-3, center);
  }

  &__body {
    @include flex-shorthand(column, nowrap, $whitespace-5, center, null);
  }

  &__text-content {
    @include flex-shorthand(column, nowrap, $whitespace-4);
  }

  &__button-container {
    @include flex-shorthand(row, wrap, $whitespace-4, null, null);

    margin: auto 0;
  }

  &__image-wrapper {
    @include size-shorthand(6rem, 6rem);

    position: relative;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: $border-radius-circle;
  }

  &__image {
    @include size-shorthand(100%, 100%);

    object-fit: cover;
    object-position: center;
  }

  &__name {
    font-size: $font-size-4;
    font-weight: $font-weight-semi-bold;
    color: $color-neutral-10;
  }

  &__invite-date {
    font-size: $font-size-1;
    color: $color-neutral-6;
    text-transform: uppercase;
  }

  &__button {
    @include remove-button-styles;

    inline-size: fit-content;
    padding: $whitespace-3 $whitespace-5;
    font-size: $font-size-2;
    font-weight: $font-weight-semi-bold;
    color: $color-neutral-1;
    text-decoration: none;
    border-radius: $border-radius-pill;

    &--green {
      background-color: $color-accent-2;
    }

    &--transparent {
      color: $color-neutral-5;
    }

    &--red {
      background-color: $color-accent-3;
    }

    &--blue {
      color: $color-neutral-1;
      background-color: $color-primary-10;
    }
  }
}
