@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.hero {
  @include themify {
    @include flex-shorthand(row, nowrap, $whitespace-10, center, center);

    padding: $whitespace-9 $whitespace-5;
    background-color: themed(color-neutral-1);

    &__body {
      @include flex-shorthand(column, nowrap, $whitespace-7, center, center);

      min-inline-size: 28.5rem;
      max-inline-size: 42.5rem;
      text-align: center;
    }

    &__heading {
      font-size: $font-size-8;
      line-height: 1.2;
      color: themed(color-neutral-8);
      letter-spacing: -0.05rem;
    }

    &__description {
      font-size: $font-size-4;
      line-height: 1.5;
      color: themed(color-neutral-7);
    }

    &__image {
      display: none;
      min-inline-size: 25rem;
      max-inline-size: 30rem;
      block-size: auto;
    }

    @include media-up-shorthand(tablet-2) {
      &__image {
        display: block;
      }
    }
  }
}
