@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.profile-reviews {
  @include flex-shorthand(column, nowrap, $whitespace-8);

  max-block-size: 55rem;
  padding: $whitespace-6;
  overflow: scroll;
  scrollbar-gutter: auto;
  overscroll-behavior: auto;
  background-color: $color-neutral-1;

  &__button {
    @include remove-button-styles;
    @include flex-shorthand(row, nowrap, $whitespace-4, center);

    font-size: $font-size-6;
    font-weight: $font-weight-semi-bold;
    color: $color-neutral-10;
  }

  &__button-icon {
    @include size-shorthand(3.5rem, 3.5rem);

    color: $color-neutral-10;
  }

  &__list {
    @include remove-list-styles;
    @include flex-shorthand(column, nowrap, $whitespace-8);
  }

  &__list-item {
  }

  &__heading {
    font-size: $font-size-6;
    font-weight: $font-weight-bold;
    color: $color-neutral-10;
    text-align: center;
  }

  &__illustration {
    inline-size: 25rem;
    block-size: auto;
  }

  &__modal-button {
    @include remove-button-styles;

    position: sticky;
    inset: auto auto 0 50%;
    padding: $whitespace-4 $whitespace-7;
    font-size: $font-size-4;
    font-weight: $font-weight-semi-bold;
    color: $color-neutral-1;
    background-color: $color-accent-1;
    border-radius: $border-radius-large;
  }

  &__empty-state-box {
    @include flex-shorthand(column, nowrap, $whitespace-7, center);
  }
}
