@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.profile-reviews {
  $this: &;

  display: none;
  max-inline-size: 40rem;
  max-block-size: 55rem;
  padding: $whitespace-6;
  overflow: auto;
  scrollbar-gutter: auto;
  overscroll-behavior: auto;
  background-color: $color-neutral-1;

  &--selected {
    @include flex-shorthand(column, nowrap, $whitespace-7);
  }

  @include media-up-shorthand(tablet-3) {
    padding: $whitespace-7 $whitespace-4;
    margin: 0 -$whitespace-4;
  }

  @include media-up-shorthand(laptop-1) {
    @include flex-shorthand(column, nowrap, $whitespace-7);

    flex: 1;
    grid-column: span 2;
    max-inline-size: none;

    #{$this}__list {
      @include grid-shorthand(
        null,
        repeat(auto-fit, minmax(30rem, 1fr)),
        $whitespace-8,
        $whitespace-8
      );
    }
  }

  &__button {
    @include remove-button-styles;
    @include flex-shorthand(row, nowrap, $whitespace-4, center);

    font-size: $font-size-6;
    font-weight: $font-weight-semi-bold;
    color: $color-neutral-10;
  }

  &__button-icon {
    @include size-shorthand(3.5rem, 3.5rem);

    color: $color-neutral-10;
  }

  &__list {
    @include remove-list-styles;
    @include flex-shorthand(column, nowrap, $whitespace-8);
  }

  &__list-item {
  }

  &__heading {
    font-size: $font-size-6;
    font-weight: $font-weight-bold;
    color: $color-neutral-10;
    text-align: center;
  }

  &__illustration {
    inline-size: 25rem;
    block-size: auto;
  }

  &__modal-button {
    @include remove-button-styles;

    position: sticky;
    inset: auto auto 0;
    inline-size: 100%;
    max-inline-size: 35rem;
    padding: $whitespace-4 $whitespace-7;
    margin: 0 auto;
    font-size: $font-size-4;
    font-weight: $font-weight-semi-bold;
    color: $color-neutral-1;
    background-color: $color-accent-1;
    border-radius: $border-radius-large;
  }

  &__empty-state-box {
    @include flex-shorthand(column, nowrap, $whitespace-7, center);
  }
}
