@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.input-date {
  @include remove-input-styles;

  inline-size: 17rem;
  padding: $whitespace-5;
  font-size: $font-size-3;
  border: 0.2rem solid $color-primary-10;
  border-radius: $border-radius-large;
}
