@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.input-date {
  $this: &;

  @include flex-shorthand(column, nowrap, $whitespace-3, center);

  inline-size: 100%;
  max-inline-size: 17rem;
  text-align: center;

  &--labeled {
    #{$this}__input {
      padding: $whitespace-6 $whitespace-5 $whitespace-4 $whitespace-5;
    }
  }

  &--error {
    #{$this}__input {
      border-color: $color-accent-3;
    }

    #{$this}__label {
      color: $color-accent-3;
    }
  }

  &--filled {
    inline-size: 100%;
    max-inline-size: none;

    #{$this}__container {
      inline-size: 100%;
    }

    #{$this}__input {
      inline-size: 100%;
    }
  }

  &__container {
    position: relative;
    inline-size: 100%;
  }

  &__label {
    @include flex-shorthand(row, nowrap, $whitespace-1, center);
    @include absolute-shorthand(1rem, auto, auto, 1.8rem);

    font-size: $font-size-2;
    color: $color-primary-10;
  }

  &__input {
    @include remove-input-styles;

    inline-size: 100%;
    padding: $whitespace-5;
    font-size: $font-size-3;
    border: 0.2rem solid $color-primary-10;
    border-radius: $border-radius-large;
  }

  &__error-message {
    font-size: $font-size-3;
    font-weight: $font-weight-semi-bold;
    color: $color-accent-3;
  }
}
