@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.notification-group {
  $this: &;

  @include flex-shorthand(column, nowrap, $whitespace-6);

  @include media-up-shorthand(tablet-2) {
    #{$this}__body {
      justify-items: unset;
    }
  }

  @include media-up-shorthand(laptop-2) {
    #{$this}__body {
      grid-template-columns: repeat(2, minmax(35rem, 40rem));
      justify-content: center;
    }
  }

  &__header {
    @include flex-shorthand(row, nowrap, null, center, space-between);
  }

  &__label {
    font-size: $font-size-6;
    color: $color-neutral-9;
  }

  &__button {
    @include remove-button-styles;

    font-size: $font-size-3;
    color: $color-neutral-7;
  }

  &__body {
    @include remove-list-styles;
    @include grid-shorthand(
      null,
      repeat(auto-fit, minmax(25rem, 1fr)),
      $whitespace-5,
      $whitespace-5
    );

    place-items: stretch center;
  }
}
