@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.chat-main {
  @include flex-shorthand(column, nowrap, $whitespace-8);

  block-size: 100%;
  padding: $whitespace-7 0;
  overflow: scroll;
  scrollbar-gutter: auto;
  overscroll-behavior: auto;

  &__message-box {
    position: relative;
    inline-size: 25rem;
    padding: $whitespace-5;
    word-wrap: break-word;
    border-radius: $border-radius-large;

    &--partner {
      align-self: flex-start;
      color: $color-neutral-10;
      background-color: $color-neutral-5;
    }

    &--user {
      align-self: flex-end;
      color: $color-neutral-1;
      background-color: $color-primary-6;
    }
  }

  &__message-time {
    @include absolute-shorthand(auto, 0, -2.5rem, auto);

    font-size: $font-size-2;
    color: $color-neutral-7;
  }
}
