@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.chat-main {
  $this: &;

  @include flex-shorthand(column, nowrap, $whitespace-8);

  flex: 1;
  padding-block-end: $whitespace-6;

  &__message-box {
    position: relative;
    inline-size: 25rem;
    padding: $whitespace-5;
    word-wrap: break-word;
    border-radius: $border-radius-large;

    &--partner {
      align-self: flex-start;
      color: $color-neutral-10;
      background-color: $color-neutral-5;
    }

    &--user {
      align-self: flex-end;
      color: $color-neutral-1;
      background-color: $color-primary-6;
    }
  }

  &__message-read {
    @include absolute-shorthand(auto, 0, -2.5rem, auto);
    @include flex-shorthand(row, nowrap, $whitespace-2, center);

    font-size: $font-size-2;
    color: $color-neutral-7;

    &--read {
      #{$this}__message-read-icon {
        color: $color-primary-10;
      }
    }
  }

  &__message-read-icon {
    @include size-shorthand(1.5rem, 1.5rem);

    color: $color-neutral-7;
  }
}
