@use "../../../styles/settings" as *;
@use "../../../styles/tools" as *;

.main {
  @include flex-shorthand(column, nowrap, $whitespace-8);

  flex: 1;
  overflow: scroll;
  scrollbar-gutter: auto;
  overscroll-behavior: auto;
  background-color: $color-neutral-1;

  &__content {
    padding: 0 $whitespace-7;
  }

  &__content-list {
    @include remove-list-styles;
    @include flex-shorthand(column, nowrap, $whitespace-7, center);
  }
}
