@use "../../../styles/settings" as *;
@use "../../../styles/tools" as *;

.main {
  @include flex-shorthand(column, nowrap);

  block-size: calc(100dvb - 7.3rem);
  padding: $whitespace-7 $whitespace-6;
  overflow: scroll;
  scrollbar-gutter: auto;
  overscroll-behavior: auto;
  background-color: $color-neutral-1;

  @include media-up-shorthand(laptop-1) {
    block-size: 100dvb;
  }

  &__content {
    @include flex-shorthand(column);

    flex: 1;
    overflow: hidden;
  }
}
