@use "../../../styles/settings" as *;
@use "../../../styles/tools" as *;

.main {
  @include flex-shorthand(column, nowrap);

  flex: 1;
  padding: $whitespace-7 $whitespace-6;
  overflow: scroll;
  scrollbar-gutter: auto;
  overscroll-behavior: auto;
  background-color: $color-neutral-1;

  &__content {
    @include flex-shorthand(column);

    flex: 1;
  }
}
