@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.logo {
  @include flex-shorthand(row, nowrap, $whitespace-3, center);

  &__icon {
    inline-size: 3rem;
  }

  &__caption {
    font-size: $font-size-5;
    font-weight: $font-weight-bold;
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    color: transparent;
    background: linear-gradient(to right, $color-primary-5, $color-primary-2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
