@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.notifications-empty {
  @include flex-shorthand(column, nowrap, $whitespace-6, center, center);

  flex: 1;
  padding: 0 $whitespace-5;
  background-color: $color-neutral-1;

  &__icon {
    @include size-shorthand(12.5rem, 12.5rem);
  }

  &__heading {
    font-size: $font-size-7;
    font-weight: $font-weight-bold;
    color: $color-neutral-10;
  }

  &__description {
    font-size: $font-size-4;
    color: $color-neutral-8;
    text-align: center;
  }
}
