@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.notifications-empty {
  @include flex-shorthand(column, nowrap, $whitespace-7, center, center);

  position: fixed;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  flex: 1;
  inline-size: 100%;
  padding: 0 $whitespace-6;
  background-color: $color-neutral-1;
  transform: translate(-50%, -50%);

  &__icon {
    @include size-shorthand(12.5rem, 12.5rem);
  }

  &__text-content {
    @include flex-shorthand(column, nowrap, $whitespace-5, center, center);
  }

  &__heading {
    font-size: $font-size-7;
    font-weight: $font-weight-bold;
    line-height: 1.2;
    color: $color-neutral-9;
    letter-spacing: -0.1rem;
  }

  &__description {
    font-size: $font-size-4;
    color: $color-neutral-7;
    text-align: center;
  }
}
