@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.how-it-works {
  @include flex-shorthand(column, nowrap, $whitespace-9, center);

  padding: $whitespace-9 $whitespace-5;
  text-align: center;
  background-color: $color-neutral-1;

  &__heading {
    font-size: $font-size-8;
    line-height: 1.3;
    color: $color-neutral-8;
    letter-spacing: -0.05rem;
  }

  &__body {
    @include remove-list-styles;
    @include flex-shorthand(column, nowrap, $whitespace-12, center);
  }
}
