@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.active-chats {
  @include remove-list-styles;
  @include flex-shorthand(column, nowrap, $whitespace-6);

  padding-block-start: $whitespace-7;
}
