@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.notification-list {
  @include remove-list-styles;
  @include flex-shorthand(column, nowrap, $whitespace-5);

  flex: 1;
  inline-size: 100%;
  max-inline-size: 90rem;
  margin: 0 auto;
  background-color: $color-neutral-1;
}
