@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.input-hourly-rate {
  @include flex-shorthand(row, nowrap, null, center);

  inline-size: 17rem;
  border: 0.2rem solid $color-primary-10;
  border-radius: $border-radius-large;

  &__input {
    @include remove-input-styles;

    flex: 1;
    inline-size: 0;
    padding: $whitespace-5;
    border-inline-end: 0.2rem solid $color-primary-10;
    border-radius: $border-radius-large;
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }
}
