@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.input-hourly-rate {
  $this: &;

  @include flex-shorthand(row, nowrap, null, center);

  position: relative;
  inline-size: 17rem;
  border: 0.2rem solid $color-primary-10;
  border-radius: $border-radius-large;

  &--labeled {
    #{$this}__input {
      padding: $whitespace-6 $whitespace-5 $whitespace-4 $whitespace-5;
    }
  }

  &--filled {
    inline-size: 100%;

    #{$this}__container {
      inline-size: 100%;
    }

    #{$this}__input {
      inline-size: 100%;
    }
  }

  &__label {
    @include flex-shorthand(row, nowrap, $whitespace-1, center);
    @include absolute-shorthand(1rem, auto, auto, 1.8rem);

    font-size: $font-size-2;
    color: $color-primary-10;
  }

  &__input {
    @include remove-input-styles;

    flex: 1;
    inline-size: 0;
    padding: $whitespace-5;
    border-inline-end: 0.2rem solid $color-primary-10;
    border-radius: $border-radius-large;
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }
}
