@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.input-hourly-rate {
  $this: &;

  @include flex-shorthand(column, nowrap, $whitespace-3, center);

  text-align: center;

  &--labeled {
    #{$this}__input {
      padding: $whitespace-6 $whitespace-5 $whitespace-4 $whitespace-5;
    }
  }

  &--error {
    #{$this}__container,
    #{$this}__input {
      border-color: $color-accent-3;
    }

    #{$this}__label {
      color: $color-accent-3;
    }
  }

  &--filled {
    inline-size: 100%;

    #{$this}__container {
      inline-size: 100%;
    }

    #{$this}__input {
      inline-size: 100%;
    }
  }

  &__container {
    @include flex-shorthand(row, nowrap, null, center);

    position: relative;
    inline-size: 17rem;
    border: 0.2rem solid $color-primary-10;
    border-radius: $border-radius-large;
  }

  &__label {
    @include flex-shorthand(row, nowrap, $whitespace-1, center);
    @include absolute-shorthand(1rem, auto, auto, 1.8rem);

    font-size: $font-size-2;
    color: $color-primary-10;
  }

  &__input {
    @include remove-input-styles;

    flex: 1;
    inline-size: 0;
    padding: $whitespace-5;
    border-inline-end: 0.2rem solid $color-primary-10;
    border-radius: $border-radius-large;
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }

  &__error-message {
    font-size: $font-size-3;
    font-weight: $font-weight-semi-bold;
    color: $color-accent-3;
  }
}
