@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.app-navigation {
  $this: &;

  @include flex-shorthand(row, nowrap, null, center, center);

  position: sticky;
  inset-block-end: 0;
  z-index: 9999;
  inline-size: 100%;
  padding: 0;
  margin: 0;
  overflow: visible;
  background-color: $color-neutral-1;
  border-radius: 0;
  box-shadow: none;

  @include media-up-shorthand(laptop-1) {
    align-items: unset;
    justify-content: unset;
    order: -1;
    inline-size: unset;

    #{$this}__nav {
      padding: $whitespace-5 0;
      border-start-start-radius: 0.8rem;
      border-start-end-radius: 3.2rem;
      border-end-start-radius: 0.8rem;
      border-end-end-radius: 3.2rem;
    }

    #{$this}__list {
      flex-direction: column;
      align-items: center;
      margin-block-start: $whitespace-12;
    }

    #{$this}__list-item {
      justify-content: center;
      inline-size: 100%;
      padding: 0 $whitespace-4;
    }

    #{$this}__nav-link-stroke {
      @include size-shorthand(0.7rem, 100%);

      inset: 0 -0.2rem auto auto;
    }
  }

  &__nav {
    padding: $whitespace-5 $whitespace-6;
    overflow: hidden;
    background-color: $color-neutral-1;
    border-start-start-radius: $border-radius-extra-large;
    border-start-end-radius: $border-radius-extra-large;
    border-end-start-radius: $border-radius-medium;
    border-end-end-radius: $border-radius-medium;
    box-shadow: 0 0 1.5rem $color-neutral-5;
  }

  &__list {
    @include remove-list-styles;
    @include flex-shorthand(row, nowrap, $whitespace-6, null, center);
  }

  &__list-item {
    @include flex-shorthand(row, nowrap, null, center);

    position: relative;
  }

  &__nav-link {
    position: relative;

    &--circled {
      @include flex-shorthand;

      padding: $whitespace-3 $whitespace-6;
      background-color: $color-neutral-3;
      border-radius: $border-radius-pill;
    }
  }

  &__nav-link-icon {
    @include size-shorthand(100%, 2.5rem);

    color: $color-neutral-8;
    fill: $color-neutral-8;

    &--filled {
      color: $color-primary-10;
      fill: $color-primary-10;
    }
  }

  &__nav-link-count {
    @include absolute-shorthand(-0.5rem, -1rem, auto, auto);
    @include flex-shorthand(row, nowrap, null, center, center);

    min-inline-size: 2rem;
    min-block-size: 2rem;
    aspect-ratio: 1 / 1;
    padding: $whitespace-2;
    font-size: $font-size-1;
    font-weight: $font-weight-semi-bold;
    color: $color-neutral-1;
    background-color: $color-accent-3;
    border-radius: $border-radius-circle;
  }

  &__nav-link-stroke {
    @include size-shorthand(100%, 0.7rem);
    @include absolute-shorthand(-2rem, auto, auto, 2%);

    background-color: $color-primary-10;
    border-radius: $border-radius-pill;
  }
}
