@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.requests-list {
  @include flex-shorthand(column, nowrap, $whitespace-7);

  inline-size: 100%;
  max-inline-size: 90rem;
  block-size: 100%;
  margin: 0 auto;
  overflow: hidden;

  &__container {
    @include flex-shorthand(column, nowrap, $whitespace-6);

    flex: 1;
    block-size: 50%;
    overflow: hidden;
  }

  &__empty {
    @include size-shorthand(auto, 100%);
  }

  &__heading {
    font-size: $font-size-5;
    font-weight: $font-weight-semi-bold;
    color: $color-neutral-10;
  }

  &__list {
    @include remove-list-styles;
    @include grid-shorthand(
      null,
      repeat(auto-fit, minmax(min(35rem, 100%), 1fr)),
      $whitespace-7,
      $whitespace-7
    );

    flex: 1;
    place-items: flex-start center;
    overflow: auto;
    scrollbar-gutter: auto;
    overscroll-behavior: auto;
  }
}
