@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.coach-search {
  @include flex-shorthand(row, nowrap, $whitespace-5, center, center);
  @include absolute-shorthand(auto, 0, 2.5rem, 0);

  z-index: 1000;

  &__button {
    @include remove-button-styles;

    padding: $whitespace-3 $whitespace-5;
    font-size: $font-size-4;
    color: $color-neutral-1;
    background-color: $color-primary-10;
    border-radius: $border-radius-extra-large;
    box-shadow: 0 0 2rem $color-neutral-6;
  }

  &__body {
    position: fixed;
    inset: 0 0 auto;
    padding: $whitespace-5;
    background-color: transparent;
  }
}
