@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.header {
  @include themify {
    @include flex-shorthand(row, nowrap, null, center, space-between);

    position: sticky;
    inset-block-start: 0;
    z-index: 1000;
    padding: $whitespace-6 $whitespace-5;
    background-color: themed(color-neutral-1);
    box-shadow: get-shadow(medium, themed(color-neutral-3));

    &__container {
      @include flex-shorthand(row, nowrap, $whitespace-4, center);
    }
  }
}
