@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.active-chat {
  @include flex-shorthand(row, nowrap, null, null, space-between);

  position: relative;
  padding: $whitespace-5;
  text-decoration: none;
  background-color: $color-neutral-2;
  border-radius: $border-radius-large;
  box-shadow: 0 0 1.5rem $color-neutral-5;

  &__body {
    @include flex-shorthand(row, nowrap, $whitespace-4, center);
  }

  &__image {
    @include size-shorthand(6rem, 6rem);

    border-radius: $border-radius-large;
  }

  &__details {
    position: relative;
  }

  &__name {
    font-size: $font-size-3;
    font-weight: $font-weight-semi-bold;
    color: $color-neutral-10;
  }

  &__message {
    font-size: $font-size-2;
    color: $color-neutral-8;
  }

  &__online-status {
    @include absolute-shorthand(0, -1.2rem, auto, auto);
    @include size-shorthand(0.8rem, 0.8rem);

    background-color: $color-accent-2;
    border-radius: $border-radius-circle;
    box-shadow: 0 0 0.5rem $color-accent-2;
  }

  &__message-date {
    font-size: $font-size-3;
    color: $color-neutral-8;
  }

  &__unread-message-count {
    @include absolute-shorthand(0, 0, auto, auto);
    @include flex-shorthand(row, nowrap, null, center, center);

    min-inline-size: 3rem;
    min-block-size: 3rem;
    aspect-ratio: 1 / 1;
    padding: $whitespace-2;
    font-size: $font-size-2;
    font-weight: $font-weight-semi-bold;
    color: $color-neutral-1;
    background-color: $color-accent-3;
    border-radius: $border-radius-circle;
    transform: translate(50%, -50%);
  }
}
