@use "../../../styles/settings" as *;
@use "../../../styles/tools" as *;

.main {
  @include flex-shorthand(column, nowrap);

  block-size: calc(100vb - 7.3rem);
  background-color: $color-neutral-1;

  &__content {
    @include flex-shorthand(column, nowrap);

    block-size: 100%;
  }
}
