@use "../../../styles/settings" as *;
@use "../../../styles/tools" as *;

.main {
  @include flex-shorthand(column, nowrap);

  flex: 1;
  padding: $whitespace-7 $whitespace-6;
  background-color: $color-neutral-1;
}
