@use "../../../styles/settings" as *;
@use "../../../styles/tools" as *;

.page-content {
  @include flex-shorthand(column, nowrap, $whitespace-7);

  block-size: 100%;
  padding: $whitespace-7 $whitespace-6;
}
