$border-radius-extra-small: 0.2rem;
$border-radius-small: 0.4rem;
$border-radius-medium: 0.8rem;
$border-radius-large: 1.6rem;
$border-radius-extra-large: 3.2rem;
$border-radius-pill: 999rem;
$border-radius-circle: 50%;
