/* ==========================================================================
   Primary Colors:
   ========================================================================== */

$color-primary-1: #e7f5ff;
$color-primary-2: #d0ebff;
$color-primary-3: #a5d8ff;
$color-primary-4: #74c0fc;
$color-primary-5: #4dabf7;
$color-primary-6: #339af0;
$color-primary-7: #228be6;
$color-primary-8: #1c7ed6;
$color-primary-9: #1971c2;
$color-primary-10: #1864ab;

/* ==========================================================================
   Accent Colors:
   ========================================================================== */

$color-accent-1: #f08e33;
$color-accent-2: #40c057;
$color-accent-3: #fa5252;
$color-accent-4: #ffd8a8;

/* ==========================================================================
   Neutral Colors:
   ========================================================================== */

$color-neutral-1: #f8f9fa;
$color-neutral-2: #f1f3f5;
$color-neutral-3: #e9ecef;
$color-neutral-4: #dee2e6;
$color-neutral-5: #ced4da;
$color-neutral-6: #adb5bd;
$color-neutral-7: #868e96;
$color-neutral-8: #495057;
$color-neutral-9: #343a40;
$color-neutral-10: #212529;
