/* ==========================================================================
   Primary Colors:
   ========================================================================== */

$color-primary-1: #e7f5ff;
$color-primary-2: #a5d8ff;
$color-primary-3: #4dabf7;
$color-primary-4: #228be6;
$color-primary-5: #1971c2;

/* ==========================================================================
   Accent Colors:
   ========================================================================== */

$color-accent-1: #fff3e0;
$color-accent-2: #ffe0b2;
$color-accent-3: #ffcc80;
$color-accent-4: #ffb74d;
$color-accent-5: #ff9800;

/* ==========================================================================
   Neutral Colors:
   ========================================================================== */

$color-neutral-1: #f8f9fa;
$color-neutral-2: #e9ecef;
$color-neutral-3: #ced4da;
$color-neutral-4: #868e96;
$color-neutral-5: #343a40;
