@use "./colors" as *;

$themes: (
  light: (
    /* ==========================================================================
       Primary Colors:
       ========================================================================== */
    color-primary-1: $color-primary-1,
    color-primary-2: $color-primary-2,
    color-primary-3: $color-primary-3,
    color-primary-4: $color-primary-4,
    color-primary-5: $color-primary-5,
    color-primary-6: $color-primary-6,
    color-primary-7: $color-primary-7,
    color-primary-8: $color-primary-8,
    color-primary-9: $color-primary-9,
    color-primary-10: $color-primary-10,

    /* ==========================================================================
       Accent Colors:
       ========================================================================== */
    color-accent-1: $color-accent-1,

    /* ==========================================================================
       Neutral Colors:
       ========================================================================== */
    color-neutral-1: $color-neutral-1,
    color-neutral-2: $color-neutral-2,
    color-neutral-3: $color-neutral-3,
    color-neutral-4: $color-neutral-4,
    color-neutral-5: $color-neutral-5,
    color-neutral-6: $color-neutral-6,
    color-neutral-7: $color-neutral-7,
    color-neutral-8: $color-neutral-8,
    color-neutral-9: $color-neutral-9,
    color-neutral-10: $color-neutral-10,
  ),

  dark: (
    /* ==========================================================================
       Primary Colors:
       ========================================================================== */
    color-primary-1: $color-primary-10,
    color-primary-2: $color-primary-9,
    color-primary-3: $color-primary-8,
    color-primary-4: $color-primary-7,
    color-primary-5: $color-primary-6,
    color-primary-6: $color-primary-5,
    color-primary-7: $color-primary-4,
    color-primary-8: $color-primary-3,
    color-primary-9: $color-primary-2,
    color-primary-10: $color-primary-1,

    /* ==========================================================================
       Accent Colors:
       ========================================================================== */
    color-accent-1: $color-accent-1,

    /* ==========================================================================
       Neutral Colors:
       ========================================================================== */
    color-neutral-1: $color-neutral-10,
    color-neutral-2: $color-neutral-9,
    color-neutral-3: $color-neutral-8,
    color-neutral-4: $color-neutral-7,
    color-neutral-5: $color-neutral-6,
    color-neutral-6: $color-neutral-5,
    color-neutral-7: $color-neutral-4,
    color-neutral-8: $color-neutral-3,
    color-neutral-9: $color-neutral-2,
    color-neutral-10: $color-neutral-1,
  ),
);
