/* ==========================================================================
   Font Weights:
   ========================================================================== */

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

/* ==========================================================================
   Font Sizes:
   ========================================================================== */

$font-size-1: 1rem;
$font-size-2: 1.2rem;
$font-size-3: 1.4rem;
$font-size-4: 1.6rem;
$font-size-5: 1.8rem;
$font-size-6: 2rem;
$font-size-7: 2.4rem;
$font-size-8: 3rem;
$font-size-9: 3.6rem;
$font-size-10: 4.4rem;
$font-size-11: 5.2rem;
$font-size-12: 6.2rem;
$font-size-13: 7.4rem;
$font-size-14: 8.6rem;
$font-size-15: 9.8rem;
