$whitespace-1: 0.2rem;
$whitespace-2: 0.4rem;
$whitespace-3: 0.8rem;
$whitespace-4: 1.2rem;
$whitespace-5: 1.6rem;
$whitespace-6: 2.4rem;
$whitespace-7: 3.2rem;
$whitespace-8: 4.8rem;
$whitespace-9: 6.4rem;
$whitespace-10: 8rem;
$whitespace-11: 9.6rem;
$whitespace-12: 12.8rem;
