@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.chat-header {
  $this: &;

  @include flex-shorthand(row, nowrap, $whitespace-4, center);

  position: sticky;
  inset-block-start: 11rem;
  z-index: 999;
  align-self: center;
  inline-size: 100%;
  max-inline-size: 31.7rem;
  padding: $whitespace-5 $whitespace-4;
  background-color: $color-neutral-1;
  border-radius: $border-radius-large;
  box-shadow: 0 0 1.5rem $color-neutral-5;

  &--online {
    #{$this}__name {
      position: relative;

      &::after {
        @include absolute-shorthand(-0.2rem, -1.5rem, auto, auto);
        @include size-shorthand(0.8rem, 0.8rem);

        content: "";
        background-color: $color-accent-2;
        border-radius: $border-radius-circle;
        box-shadow: 0 0 0.5rem $color-accent-2;
      }
    }
  }

  &__image {
    @include size-shorthand(4rem, 4rem);

    border-radius: $border-radius-large;
  }

  &__name {
    font-size: $font-size-3;
    font-weight: $font-weight-semi-bold;
    color: $color-neutral-10;
  }
}
