@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.profile-details {
  $this: &;

  @include flex-shorthand(column, nowrap, $whitespace-4, center);

  @include media-up-shorthand(tablet-3) {
    flex: 1;
  }

  @include media-up-shorthand(laptop-1) {
    display: contents;

    #{$this}__tabs {
      display: none;
    }
  }

  &__tabs {
    @include flex-shorthand(row, nowrap, $whitespace-5, center, center);
  }

  &__tab {
    @include remove-button-styles;

    padding: $whitespace-3 $whitespace-7;
    font-size: $font-size-3;
    font-weight: $font-weight-semi-bold;
    color: $color-neutral-10;
    background-color: $color-neutral-1;
    border: 0.2rem solid $color-neutral-5;
    border-radius: $border-radius-large;

    &--open {
      border-color: $color-primary-10;
    }
  }
}
