@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.tab {
  $this: &;

  @include flex-shorthand(column, nowrap, $whitespace-3, center, center);

  font-size: $font-size-3;
  color: $color-neutral-9;
  text-decoration: none;

  &__icon-wrapper {
    @include flex-shorthand(row, nowrap, null, center, center);
    @include size-shorthand(4rem, 4rem);

    background-color: $color-neutral-5;
    border-radius: $border-radius-circle;
  }

  &__icon {
    max-inline-size: 2rem;
    color: $color-neutral-1;
    fill: $color-neutral-1;
  }

  &--selected {
    color: $color-accent-1;

    #{$this}__icon-wrapper {
      background-color: $color-accent-1;
    }
  }
}
