@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.footer {
  @include themify {
    padding: $whitespace-7 $whitespace-5;
    background-color: themed(color-neutral-1);

    &__wrapper {
      max-inline-size: 33rem;
      margin: 0 auto;
    }

    &__cta-block {
      @include flex-shorthand(row, nowrap, null, center, space-between);

      inline-size: 100%;
    }

    &__body {
      @include flex-shorthand(
        column,
        nowrap,
        $whitespace-6,
        center,
        space-between
      );
    }

    &__info-row {
      @include flex-shorthand(row, nowrap, null, null, space-between);

      inline-size: 100%;
      padding-block: $whitespace-6;
      border-block: 0.2rem solid themed(color-neutral-3);
    }

    &__info-column {
      @include flex-shorthand(column, nowrap, $whitespace-5);
    }

    &__column-heading {
      font-size: $font-size-4;
      color: themed(color-neutral-8);
    }

    &__credentials-container {
      @include flex-shorthand(column, nowrap, $whitespace-2);
    }

    &__contact {
      font-size: $font-size-3;
      color: themed(color-neutral-8);
      text-decoration: none;
      transition: all 0.15s;

      @media (hover: hover) {
        &:hover {
          color: themed(color-accent-1);
        }
      }
    }

    &__logo-container {
      @include flex-shorthand(row, nowrap, $whitespace-4, center);
    }

    &__logo {
      inline-size: 2.5rem;
      fill: themed(color-neutral-7);
      transition: all 0.15s;

      @media (hover: hover) {
        &:hover {
          fill: themed(color-neutral-8);
        }
      }
    }

    &__copyright {
      font-size: $font-size-3;
      color: themed(color-neutral-7);
      text-align: center;
    }

    @include media-up-shorthand(laptop-2) {
      &__wrapper {
        @include flex-shorthand(column, nowrap, $whitespace-6, center);

        max-inline-size: none;
        margin: 0;
      }

      &__body {
        @include flex-shorthand(
          row,
          nowrap,
          $whitespace-10,
          center,
          space-between
        );

        max-inline-size: 95rem;
      }

      &__cta-block {
        @include flex-shorthand(row, nowrap, $whitespace-8, center, null);

        inline-size: auto;
      }

      &__info-row {
        gap: $whitespace-8;
        inline-size: auto;
      }
    }
  }
}
