@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.empty-state {
  @include flex-shorthand(column, nowrap, $whitespace-7, center, center);

  max-inline-size: 30rem;

  &__body {
    @include flex-shorthand(column, nowrap, $whitespace-6, center, center);
  }

  &__content {
    @include flex-shorthand(column, nowrap, $whitespace-5, center, center);

    text-align: center;
  }

  &__illustration {
    @include size-shorthand(100%, 100%);
  }

  &__heading {
    font-size: $font-size-7;
    font-weight: $font-weight-bold;
    line-height: 1.2;
    color: $color-neutral-9;
    letter-spacing: -0.1rem;
  }

  &__description {
    font-size: $font-size-4;
    color: $color-neutral-7;
    text-align: center;
  }

  &__cta {
    @include remove-button-styles;
    @include flex-shorthand(row, nowrap, $whitespace-3, center, center);

    padding: 1rem 2rem;
    font-size: $font-size-3;
    font-weight: $font-weight-semi-bold;
    color: $color-neutral-1;
    text-decoration: none;
    cursor: pointer;
    background: linear-gradient(to right, $color-primary-9, $color-primary-5);
    border-radius: $border-radius-small;
    box-shadow: get-shadow(small, $color-primary-5);
    transition: all 0.15s;

    @media (hover: hover) {
      &:hover {
        box-shadow: get-shadow(medium, $color-primary-5);
      }
    }

    &:active {
      box-shadow: get-shadow(small, $color-primary-5);
    }
  }
}
