@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.testimonials {
  @include flex-shorthand(column, nowrap, $whitespace-9, center);

  padding: $whitespace-9 $whitespace-5;
  overflow: hidden;
  background-color: $color-neutral-2;

  &__heading {
    font-size: $font-size-8;
    line-height: 1.3;
    color: $color-neutral-8;
    text-align: center;
    letter-spacing: -0.05rem;
  }

  &__list {
    @include remove-list-styles;
    @include flex-shorthand(row, nowrap, $whitespace-5, center);
  }

  &__button-container {
    @include flex-shorthand(row, nowrap, $whitespace-5, center);

    align-self: flex-end;
  }

  &__button {
    inline-size: 2.5rem;
    color: $color-neutral-8;
  }
}
