@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.testimonials {
  @include themify {
    @include flex-shorthand(column, nowrap, $whitespace-9, center);

    padding: $whitespace-9 $whitespace-5;
    overflow: hidden;
    background-color: themed(color-neutral-2);

    &__heading {
      font-size: $font-size-8;
      line-height: 1.3;
      color: themed(color-neutral-8);
      text-align: center;
      letter-spacing: -0.05rem;
    }

    &__list {
      @include remove-list-styles;
      @include flex-shorthand(row, nowrap, $whitespace-5, center);

      transition: transform 0.5s ease;
    }

    &__button-container {
      @include flex-shorthand(row, nowrap, $whitespace-5, center);

      align-self: flex-end;
    }

    &__button {
      @include remove-button-styles;
    }

    &__button-icon {
      inline-size: 2.5rem;
      color: themed(color-neutral-8);
    }
  }
}
