@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.signup-form {
  $this: &;

  @include flex-shorthand(column, nowrap, $whitespace-8);

  max-inline-size: 30rem;
  background-color: $color-neutral-1;

  &__heading {
    margin-block-end: $whitespace-7;
    font-size: $font-size-8;
    font-weight: $font-weight-semi-bold;
    color: $color-neutral-10;
  }

  &__google-button {
    @include remove-button-styles;
    @include flex-shorthand(row, nowrap, $whitespace-3, center, center);

    inline-size: 100%;
    padding: $whitespace-4 0;
    font-size: $font-size-3;
    color: $color-neutral-8;
    cursor: pointer;
    border: 0.1rem solid $color-neutral-5;
    border-radius: $border-radius-medium;
  }

  &__button-icon {
    max-inline-size: 2rem;
  }

  &__separator {
    @include flex-shorthand(row, nowrap, $whitespace-4, center);

    padding-block: $whitespace-5;
    color: $color-neutral-8;

    &::before,
    &::after {
      flex: 1;
      block-size: 0.1rem;
      content: "";
      background-color: $color-neutral-5;
    }
  }

  &__input-label {
    font-size: $font-size-3;
    font-weight: $font-weight-semi-bold;
    color: $color-neutral-10;

    &::after {
      color: $color-accent-1;
      content: "*";
    }
  }

  &__input-box {
    @include flex-shorthand(column, nowrap, $whitespace-3);

    &--error {
      #{$this}__input {
        margin: 0;
        border-color: $color-accent-3;
      }

      #{$this}__label {
        color: $color-accent-3;
      }
    }
  }

  &__input-form {
    @include flex-shorthand(column, nowrap, $whitespace-7);
  }

  &__input-list {
    @include flex-shorthand(column, nowrap, $whitespace-4);
  }

  &__input {
    @include remove-input-styles;

    inline-size: 100%;
    padding: $whitespace-4 $whitespace-5;
    background-color: $color-neutral-1;
    border: 0.1rem solid $color-neutral-5;
    border-radius: $border-radius-medium;
  }

  &__submit-button {
    @include remove-button-styles;
    @include flex-shorthand(row, nowrap, $whitespace-3, center, center);

    inline-size: 100%;
    padding: $whitespace-4 0;
    font-size: $font-size-3;
    font-weight: $font-weight-semi-bold;
    color: $color-neutral-1;
    text-decoration: none;
    cursor: pointer;
    background: linear-gradient(to right, $color-primary-9, $color-primary-5);
    border-radius: $border-radius-medium;
    transition: all 0.15s;
  }

  &__error-message {
    font-size: $font-size-3;
    font-weight: $font-weight-semi-bold;
    color: $color-accent-3;
  }
}
