@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.testimonial {
  @include themify {
    @include size-shorthand(25rem, 35rem);
    @include flex-shorthand(column, nowrap, null, null, space-between);

    padding: $whitespace-6;
    background-color: themed(color-primary-2);
    border-radius: $border-radius-medium;
    box-shadow: get-shadow(medium, themed(color-neutral-5));
    opacity: 0.4;
    transition: transform 0.5s;

    &--selected {
      opacity: 1;
      transform: translateY(5%);
    }

    &__upper-container {
      @include flex-shorthand(column, nowrap, $whitespace-7);
    }

    &__quotation-mark {
      max-inline-size: 4.5rem;
      color: themed(color-accent-1);
      rotate: 180deg;
    }

    &__description {
      font-size: $font-size-4;
      font-weight: $font-weight-semi-bold;
      color: themed(color-neutral-8);
    }

    &__bottom-container {
      @include flex-shorthand(column, nowrap, $whitespace-2);
    }

    &__author {
      font-size: $font-size-3;
      color: themed(color-neutral-8);
    }

    &__label {
      font-size: $font-size-2;
      font-style: italic;
      color: themed(color-neutral-10);
    }
  }
}
