@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.city-input {
  $this: &;

  @include flex-shorthand(column, nowrap, $whitespace-3, center);

  text-align: center;

  &--labeled {
    #{$this}__input {
      padding: $whitespace-6 $whitespace-5 $whitespace-4 $whitespace-5;
    }
  }

  &--error {
    #{$this}__input {
      border-color: $color-accent-3;
    }

    #{$this}__label {
      color: $color-accent-3;
    }
  }

  &--filled {
    inline-size: 100%;

    #{$this}__container {
      inline-size: 100%;
    }

    #{$this}__input {
      inline-size: 100%;
    }
  }

  &__container {
    @include flex-shorthand(row, nowrap, null, null, null);

    position: relative;
  }

  &__input {
    @include remove-input-styles;

    inline-size: 17rem;
    padding: $whitespace-5;
    font-size: $font-size-3;
    border: 0.2rem solid $color-primary-10;
    border-radius: $border-radius-large;
  }

  &__label {
    @include flex-shorthand(row, nowrap, $whitespace-1, center);
    @include absolute-shorthand(1rem, auto, auto, 1.8rem);

    font-size: $font-size-2;
    color: $color-primary-10;
  }

  &__label-icon {
    @include size-shorthand(1.5rem, 1.5rem);

    color: $color-primary-10;
  }

  &__suggestions {
    @include remove-list-styles;
    @include absolute-shorthand(auto, 0, -$whitespace-3, 0);

    z-index: 1000;
    block-size: 0;
    overflow: hidden;
    border-radius: $border-radius-large;
    box-shadow: 0 0 1.5rem $color-neutral-5;
    transform: translateY(100%);
    transition: block-size 0.15s;

    &--open {
      block-size: auto;
    }
  }

  &__suggestion {
    @include remove-button-styles;

    inline-size: 100%;
    padding: $whitespace-3 $whitespace-5;
    color: $color-primary-5;
    text-align: start;
    cursor: pointer;
    background-color: $color-neutral-1;
    transition:
      color 0.15s,
      background-color 0.15s;

    @media (hover: hover) {
      &:hover {
        color: $color-neutral-1;
        background-color: $color-primary-5;
      }
    }
  }

  &__locate-button {
    @include remove-button-styles;

    padding: $whitespace-3;
    background-color: $color-neutral-1;
    border: 0.2rem solid $color-primary-10;
    border-inline-start: 0;
    border-radius: $border-radius-large;
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }

  &__locate-button-icon {
    @include size-shorthand(2.5rem, 2.5rem);

    color: $color-primary-10;
  }

  &__error-message {
    font-size: $font-size-3;
    font-weight: $font-weight-semi-bold;
    color: $color-accent-3;
  }
}
