@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.navigation-list {
  $this: &;

  @include themify {
    &__link-list {
      @include remove-list-styles;
      @include flex-shorthand(row, nowrap, $whitespace-7, center);
    }

    &__link {
      font-size: $font-size-3;
      font-weight: $font-weight-bold;
      color: themed(color-neutral-8);
      text-decoration: none;
    }

    &--location-header {
      display: none;

      @include media-up-shorthand(tablet-3) {
        display: block;
      }
    }

    &--location-hamburger-menu {
      #{$this}__link-list {
        @include flex-shorthand(column, nowrap, $whitespace-8);

        margin-block-start: $whitespace-11;
        text-align: center;
      }

      #{$this}__link {
        position: relative;
        padding: 0 $whitespace-5;
        font-size: $font-size-6;

        &::after {
          @include absolute-shorthand(auto, auto, -1rem, 50%);
          @include size-shorthand(0, 0.2rem);

          display: block;
          content: "";
          background: themed(color-accent-1);
          transition:
            inline-size 0.3s ease,
            inset-inline-start 0.3s ease;
        }

        &:focus::after {
          inset-inline-start: 0;
          inline-size: 100%;
        }

        @media (hover: hover) {
          &:hover::after {
            inset-inline-start: 0;
            inline-size: 100%;
          }
        }
      }
    }
  }
}
