@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.color-theme-switcher {
  @include themify {
    @include remove-button-styles;

    cursor: pointer;

    &__icon {
      inline-size: 2.5rem;
      color: themed(color-neutral-9);
    }
  }
}
