@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.map {
  &__marker-icon {
    @include size-shorthand(3rem, 3rem);

    border-radius: $border-radius-circle;

    &--red {
      border: 0.2rem solid red;
    }
  }
}
