@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

@keyframes pulse {
  0% {
    box-shadow: 0 0 1rem 0.5rem $color-primary-8;
  }

  50% {
    box-shadow: 0 0 8rem 4rem $color-primary-6;
  }

  100% {
    box-shadow: 0 0 1rem 0.5rem $color-primary-8;
  }
}

.map {
  $this: &;

  @include flex-shorthand(column);

  flex: 1;

  &--grayed {
    #{$this}__container {
      filter: brightness(0.5);
    }
  }

  @include media-up-shorthand(laptop-4) {
    flex-direction: row;
    block-size: 100%;

    #{$this}__sidebar {
      block-size: 100%;
    }
  }

  &__container {
    flex: 1;
  }

  &__marker-icon {
    @include size-shorthand(5.5rem, 5.5rem);

    border: 0.5rem solid $color-neutral-1;
    border-radius: $border-radius-circle;
    box-shadow: 0 0 1.5rem $color-neutral-5;
    transition: border-color 0.15s;

    &--me {
      @include size-shorthand(4rem, 4rem);

      outline: $whitespace-3 solid $color-neutral-1;
      background-color: $color-neutral-1;
    }

    &--red {
      border-color: $color-accent-3;
    }

    &--selected {
      border-color: $color-primary-10;
    }
  }

  &__marker {
    inline-size: auto !important;
    block-size: auto !important;
    animation: pulse 2s infinite;
  }
}
