@use "../../../styles/settings" as *;
@use "../../../styles/tools" as *;

.main {
  @include flex-shorthand(column, nowrap, $whitespace-8);

  flex: 1;
  block-size: 73.5rem;
  overflow: auto;
  scrollbar-gutter: auto;
  overscroll-behavior: auto;
}
