@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.chat-footer {
  @include flex-shorthand(row, nowrap, null, center, center);

  padding-inline: $whitespace-6;

  &__body {
    @include flex-shorthand(row, nowrap, $whitespace-4, center, center);

    position: sticky;
    inset-block-end: 0;
    align-self: center;
    inline-size: 100%;
    max-inline-size: 31.7rem;
    padding: $whitespace-5 $whitespace-4;
    background-color: $color-neutral-1;
    border-radius: $border-radius-large;
    box-shadow: 0 0 1.5rem $color-neutral-5;
  }

  &__input {
    @include remove-input-styles;

    flex: 1;
    inline-size: 100%;
    padding: $whitespace-4;
    color: $color-neutral-10;
    background-color: $color-neutral-3;
    border-radius: $border-radius-large;
  }

  &__button {
    @include remove-button-styles;

    padding: $whitespace-4;
    background-color: $color-primary-6;
    border-radius: $border-radius-large;
  }

  &__button-icon {
    @include size-shorthand(2.5rem, 2.5rem);

    color: $color-neutral-1;
  }

  &__unread-count {
    @include remove-button-styles;
    @include absolute-shorthand(-$whitespace-4, 0, auto, 0);

    padding: $whitespace-3;
    font-size: $font-size-3;
    color: $color-primary-1;
    background-color: $color-primary-10;
    border-radius: $border-radius-medium;
    transform: translateY(-100%);
  }
}
