@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.app-footer {
  position: sticky;
  inset-block-end: 0;
  inset-inline-start: 50%;
  z-index: 9999;
  inline-size: max-content;
  padding: $whitespace-5 $whitespace-6;
  margin: 0 auto;
  background-color: $color-neutral-1;
  border-start-start-radius: $border-radius-extra-large;
  border-start-end-radius: $border-radius-extra-large;
  border-end-start-radius: $border-radius-medium;
  border-end-end-radius: $border-radius-medium;
  box-shadow: 0 0 1.5rem 0 $color-neutral-5;

  &__list {
    @include remove-list-styles;
    @include flex-shorthand(row, nowrap, $whitespace-6, center, center);
  }

  &__nav-link {
    &--circled {
      @include flex-shorthand;

      padding: $whitespace-3 $whitespace-6;
      background-color: $color-neutral-4;
      border-radius: $border-radius-pill;
    }
  }

  &__nav-link-icon {
    @include size-shorthand(2.5rem, 2.5rem);

    color: $color-neutral-8;
    fill: $color-neutral-8;

    &--filled {
      fill: $color-neutral-8;
    }
  }
}
