@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.app-footer {
  @include flex-shorthand(row, nowrap, null, center, center);

  position: sticky;
  inset-block-end: 0;
  z-index: 9999;
  inline-size: 100%;
  padding: 0;
  margin: 0;
  overflow: visible;
  background-color: $color-neutral-1;
  border-radius: 0;
  box-shadow: none;

  &__nav {
    padding: $whitespace-5 $whitespace-6;
    overflow: hidden;
    background-color: $color-neutral-1;
    border-start-start-radius: $border-radius-extra-large;
    border-start-end-radius: $border-radius-extra-large;
    border-end-start-radius: $border-radius-medium;
    border-end-end-radius: $border-radius-medium;
    box-shadow: 0 0 1.5rem $color-neutral-5;
  }

  &__list {
    @include remove-list-styles;
    @include flex-shorthand(row, nowrap, $whitespace-6, null, center);
  }

  &__list-item {
    @include flex-shorthand(row, nowrap, null, center);

    position: relative;
  }

  &__nav-link {
    &--circled {
      @include flex-shorthand;

      padding: $whitespace-3 $whitespace-6;
      background-color: $color-neutral-3;
      border-radius: $border-radius-pill;
    }
  }

  &__nav-link-icon {
    @include size-shorthand(100%, 2.5rem);

    color: $color-neutral-8;
    fill: $color-neutral-8;

    &--filled {
      color: $color-primary-10;
      fill: $color-primary-10;
    }
  }

  &__nav-link-stroke {
    @include size-shorthand(100%, 0.7rem);
    @include absolute-shorthand(-2rem, auto, auto, 2%);

    background-color: $color-primary-10;
    border-radius: $border-radius-pill;
  }
}
