@use "../../styles/settings" as *;
@use "../../styles/tools" as *;

.app-footer {
  position: fixed;
  inset-block-end: 0;
  z-index: 9999;
  inline-size: 100%;
  padding: $whitespace-6 0;
  background-color: $color-neutral-1;

  &__list {
    @include remove-list-styles;
    @include flex-shorthand(row, nowrap, $whitespace-7, center, center);
  }

  &__nav-link {
    &--circled {
      @include flex-shorthand;

      padding: $whitespace-3 $whitespace-6;
      background-color: $color-neutral-4;
      border-radius: $border-radius-pill;
    }
  }

  &__nav-link-icon {
    @include size-shorthand(2.5rem, 2.5rem);

    color: $color-neutral-8;
    fill: $color-neutral-8;

    &--filled {
      fill: $color-neutral-8;
    }
  }
}
