/* stylelint-disable */

@use "../settings" as *;
@use "../tools" as *;

html {
  font-size: calc(62.5% + 0.05vi);
  scroll-behavior: smooth;
}

body {
  @include flex-shorthand(column);

  font-size: 1.6rem;
  font-weight: $font-weight-regular;
  line-height: 1.5;
}
