/* stylelint-disable */

@use "../settings" as *;
@use "../tools" as *;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  @include flex-shorthand(column);

  font-size: 1.6rem;
  font-weight: $font-weight-regular;
  line-height: 1.5;
}
